li a{ 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
} 
img.logo
{
    margin-left: 20%;
    height : 3rem;
    margin-top: 1%;
    width: auto;
}
img.background
{
    float: right;
    width: 60%;
    height: auto;
    margin-right: 10rem;
    display: inline-block;
  
}
div.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    height: 5rem;
    transform: scale(1.1);
    
    
}
ul li{
    display: inline-block; ;
    font-size:16px; 
    font-family:raleway;
        
  }
ul
{
    display: inline-block;
    margin-right: 22rem;
    margin-bottom: 10rem;
} 
nav{ float: right;}
footer{
    background: black;
    color: white; 
    transform: scale(1.1);   
}
div.foot{
    display: inline-block;
    height: auto;
    padding-bottom: 30px;
    
}


.left {

float:left;

margin-left: 16rem;
display: inline-block;
}

.right{
    padding-left: 10rem;
display: inline-block;
}
input.inpmod
{
    width: 25rem;
    height: 2rem;
    margin-top: 1rem;
    display:block;
    margin-right: auto;
    margin-left: auto;
}
button.butmod
{
    width: 24rem;
    height: 2rem;
    margin-top: 1rem;
}
div.formdiv
{
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 30rem;
    
}
div.why
{
    float: left;
    margin-left: 10rem;
    display: inline-block;
    width: 30%;
    
}
div.review
{
    margin-left: 10rem;
    display: inline-block;
    width: 30%;
}
div.slider
{
    display: inline-block;
    margin-left: 10rem;
}
div.slider-text
{
    margin-top: 6rem;
}
h1
{
    font-family:cursive;
    font-style: italic;
    font-weight: 100;
}